        body
        {
            overflow-x:hidden;
	        background-color: #085394;
            width:99%;
            text-align:justify;
        }

        .entete
        {

            background-color: #085394;
            z-index:1;
            position: -webkit-sticky;
            position: sticky;
            top:0%;
        }
        

        .Logo
        {
            margin-left:12%;
        }


        .menu 
        {
            display:inline-block;
            list-style-type:none;
            margin-left:185px;
            margin-top:5px;
        }

        .niveau1
        {

            width:12.5em;
            /*Largeur des onglet*/
            background-color: #073763;  
            color: white;  
            text-align: center;  
            /*Hauteur des onglet*/
            height:30px;  
            line-height:30px; 
            padding:10px;
        }

        .niveau1:hover
        {
            background-color:#3A434C;
        }

        .niveau2
        {
            width: 12.9em; 
            background-color: #87ADD4;  
            color: #073763;
            font-size: medium;
            height: 20px;  
            padding:5px;
        }

        .niveau2:hover
        {
            background-color:#758799;
        }

        .selecmenu
        {
            background-color: #9370D8;  
            color: #000000; 
        }

        .contenu
        {
            margin-left:11.3%;
            margin-right:12%;
        }

        .piedpage
        {
            position:absolute;
            bottom:0;
            margin-left: -25px;
            background-color: #073763;
            width:105%;
            height:120px;
        }

        .contact
        {
            text-align:left;
            float:left;
            color:white;
            margin-left:12.2%;
            margin-top:1%;      
            font-size:15px;
        }
        
        .formulaire
        {
            text-align:left;            
            float:left;
            margin-top:1%;
            margin-left:18%;
            color:white;
            font-size:20px;
        }
        
        .logo_Cegep
        {
            text-align:right;
            float:right;
            margin-top:1%;
            color:white;
            font-size:20px;
<<<<<<< HEAD:Tp1/Tp1/StyleSheet.css
            margin-right:15.5%;
        }

        .collapsible
        {
            background-color: #777;
            color: white;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
        }

        .active, .collapsible:hover
        {
            background-color: #555;
        }
        
        .textefaq
        {
            padding: 0 18px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            background-color: #f1f1f1;
=======
            margin-right:14.5%;
        }

        .fe_txt
        {

        }

        .fe_donnee
        {

>>>>>>> e4ae9bd96ac15484bba58aedf0f02b4ae8a8a005:Tp1/Tp1/StyleSheet_Principale.css
        }