        body
        {
            overflow-x:hidden;
	        background-color: #085394;
            background-image: linear-gradient(#085394, #073763);
            width:99%;
            text-align:justify;
        }

                
        .entete
        {
            z-index:10;
            background-color:black;
            position: -webkit-sticky;
            position: sticky;
            top:0%;
            height:210px;
            background-color: #216baf;
        }

        .Logo
        {
            margin-left:12%;
        }
            
        .menu 
        {
            display:inline-block;
            margin-left:12%;
            list-style-type:none;
            margin-left:185px;
            margin-top:5px;
        }
            
        .niveau1
        {

            width:12.5em;
            /*Largeur des onglet*/
            background-color: #073763;  
            color: white;  
            text-align: center;  
            /*Hauteur des onglet*/
            height:30px;  
            line-height:30px; 
            padding:10px;
        }

        .niveau1:hover
        {
            background-color:#3A434C;
        }

        .niveau2
        {
            width: 12.9em; 
            background-color: #87ADD4;  
            color: #073763;
            font-size: medium;
            height: 20px;  
            padding:5px;
        }

        .niveau2:hover
        {
            background-color:#758799;
        }

        .selecmenu
        {
            background-color: #9370D8;  
            color: #000000; 
        }

        .contenu
        {
            margin-left:12%;
            margin-right:11%;
        }

        .piedpage
        {
            background-color:black;
            left:0;
            bottom:0;
            width:105%;
            height:12%;
        }

        .contact
        {
            text-align:left;
            float:left;
            color:white;
            margin-left:12%;
            margin-top:1%;      
            font-size:15px;
        }
        
        .formulaire
        {
            text-align:left;            
            float:left;
            margin-top:1%;
            margin-left:17%;
            color:white;
            font-size:20px;
        }
        
        .logo_Cegep
        {
            text-align:right;
            float:right;
            margin-top:1%;
            color:white;
            font-size:20px;
            margin-right:15.5%;
        }